body#abc-viewport {
  background:
    url(../images/abc-white-sand-bg.jpg) repeat-x center top,
    url(../images/abc-white-sand-bg-bottom.jpg) repeat;
}

.font-kalam {
  font-family: Kalam, san-serif;
}

.font-pangolin {
  font-family: Pangolin, serif;
}

.abc-header-links, .abc-phone {
  margin-top: -0.875rem;
}

.abc-text-orange {
  color: #ed7e37;
}

.abc-background-success-tint {
  background-color: #91ddbb;
}

.abc-contact-button:hover {
  color: #00947e;
}

.abc-menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

@media (max-width:768px) {
  .abc-property-img-modal-footer {
    justify-content: center;
  }
}

.abc-section {
  margin: 0;
  scroll-margin-top: 6.25rem;
}

.abc-delivery-list-items {
  list-style: disc outside;
}

.abc-contact-form-message-list-items {
  list-style: disc inside;
}

.abc-service-type-label {
  margin-bottom: 0 !important;
}

.abc-contact-form-field-number-sets {
  width: 3rem;
}

.abc-featured-property-label {
  margin-top: -0.5rem;
}

.abc-contact-form-field-duration {
  width: 3rem;
}

.abc-property-city-section {
  margin-top: -1.5rem 
}