body#abc-viewport {
  background:
    url(../images/abc-background.jpg) repeat-x center top,
    url(../images/abc-background-bottom.jpg) repeat;
    
  overflow-x: hidden; /* addresses slight horizontal scroll issue on mobile */
}

.font-kalam {
  font-family: Kalam, san-serif;
}

.font-pangolin {
  font-family: Pangolin, serif;
}

.abc-header-links, .abc-phone {
  margin-top: -0.875rem;
}

.abc-menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

@media (max-width:768px) {
  .abc-menu-links {
    display: none;
  }
  .abc-property-img-modal-footer {
    justify-content: center;
  }
}

@media (min-width:769px) {
  .abc-toggle-menu-mobile {
    display: none;
  }
  .abc-menu-links {
    display: flex !important;
  }
}

.abc-section {
  margin: 0;
  scroll-margin-top: 6.25rem;
}

.abc-delivery-list-items {
  list-style: disc outside;
}

.abc-featured-property-label {
  margin-top: -0.5rem;
}

.abc-property-city-section {
  margin-top: -1.5rem 
}