body#abc-viewport {
  background:
    url(../images/abc-background.jpg) repeat-x center top,
    url(../images/abc-background-bottom.jpg) repeat;
}

.font-kalam {
  font-family: Kalam, san-serif;
}

.font-pangolin {
  font-family: Pangolin, serif;
}

.abc-phone {
  margin-top: -0.875rem;
}

.abc-property-city-section {
  margin-top: -1.5rem 
}